# Ignorar datos pesados
data/

# Ignorar archivos del sistema  y caché
__pycache__/
*.ipynb_checkpoints
.DS_Store

# Ignorar entornos virtuales
venv/
env/

# Seguridad
telegram_connection.json
.env
telegram_config.py